In [2]:
!wget http://yellowstone.cs.ucla.edu/~muhao/pipr/SHS_ppi_beta.zip

--2023-05-13 13:00:18--  http://yellowstone.cs.ucla.edu/~muhao/pipr/SHS_ppi_beta.zip
Resolving yellowstone.cs.ucla.edu (yellowstone.cs.ucla.edu)... 131.179.64.145
Connecting to yellowstone.cs.ucla.edu (yellowstone.cs.ucla.edu)|131.179.64.145|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41211458 (39M) [application/zip]
Saving to: ‘SHS_ppi_beta.zip’

SHS_ppi_beta.zip    100%[===================>]  39,30M   981KB/s    in 65s

2023-05-13 13:01:23 (623 KB/s) - ‘SHS_ppi_beta.zip’ saved [41211458/41211458]

In [3]:
!unzip SHS_ppi_beta.zip

Archive:  SHS_ppi_beta.zip
   creating: dataset_release/
  inflating: dataset_release/protein.actions.SHS148k.tsv
  inflating: dataset_release/protein.actions.SHS27k.tsv
  inflating: dataset_release/protein.sequences.dictionary.both.tsv

In [6]:
%pip install pandas

WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Collecting pandas
  Downloading pandas-2.0.1-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 495.6 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 462.0 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 407.3 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Installing collected packages: pytz, tzdata, pandas
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Successfully installed pandas-2.0.1 pytz-2023.3 tzdata-2023.3
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

shs148k_path = 'dataset_release/protein.actions.SHS148k.tsv'

In [17]:
shs148k = pd.read_csv(shs148k_path, sep='\t').reset_index(names=["seq_1", "seq_2"])
shs148k.head()

,seq_1,seq_2,item_id_a,item_id_b,mode,action,is_directional,a_is_acting,score
0,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,ptmod,NaN,f,f,150
1,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,reaction,NaN,f,f,908
2,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,catalysis,NaN,t,t,908
3,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,inhibition,inhibition,t,t,154
4,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,binding,NaN,f,t,908

In [27]:
proteins = set(shs148k['item_id_a']) | set(shs148k['item_id_b'])

In [31]:
proteins_index = {key: i for i, key in enumerate(proteins)}

In [33]:
shs148k['node_a'] = shs148k['item_id_a'].apply(lambda x: proteins_index[x])
shs148k['node_b'] = shs148k['item_id_b'].apply(lambda x: proteins_index[x])

In [34]:
shs148k.head()

,seq_1,seq_2,item_id_a,item_id_b,mode,action,is_directional,a_is_acting,score,node_a,node_b
0,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,ptmod,NaN,f,f,150,3064,4177
1,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,reaction,NaN,f,f,908,3064,1699
2,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,catalysis,NaN,t,t,908,3064,1699
3,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,inhibition,inhibition,t,t,154,3064,4177
4,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,binding,NaN,f,t,908,3064,1699

In [40]:
import numpy as np

In [57]:
edges = np.array(shs148k[['node_a', 'node_b']])
np.random.shuffle(edges)
edges

array([[5073, 2927],
       [1041, 4220],
       [2465,  718],
       ...,
       [ 476, 4234],
       [2708, 3897],
       [ 392, 3147]])

In [160]:
np.savetxt("./data/ppi/SHS148all_all.txt", edges, newline="\n", fmt="%d")

In [66]:
allseqs_path = 'dataset_release/protein.sequences.dictionary.both.tsv'

allseqs = pd.read_csv(allseqs_path, sep='\t', on_bad_lines='skip', names=["id", "seq"])
allseqs.head()

                     id                                                seq
0  9606.ENSP00000000233  MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...
1  9606.ENSP00000000412  MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...
2  9606.ENSP00000000442  MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...
3  9606.ENSP00000001008  MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...
4  9606.ENSP00000001146  MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...

In [74]:
id_seq_dict = pd.Series(allseqs.seq.values, index=allseqs.id).to_dict()

In [89]:
%pip install scikit-learn

WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp311-cp311-macosx_12_0_arm64.whl (8.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 536.0 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 313.5 kB/s eta 0:00:001m311.1 kB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Installing collected packages: threadpoolctl, joblib, scikit-learn
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 threadpoolctl-3.1.0
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/PyYAML-6.0-py3.11.egg-info due to invalid metadata entry 'name'

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [98]:
amino = ['A',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [99]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(amino)
le.classes_

array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
       'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y'], dtype='<U1')

In [113]:
allseqs['seq_list'] = allseqs['seq'].apply(lambda x: le.transform(list(x)) + 1)
allseqs

,id,seq,seq_list
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...
20451,9606.ENSP00000473193,MTSRGFQRSCNNPPCSSMTGRRANQIHHLTPDFSRELLPPKKAGTW...,"[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ..."
20452,9606.ENSP00000473200,XNDLKAALDKIDQQYLNEIVGGQEPGEEDTQNDLKVHEENTTIEEL...,"[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1..."
20453,9606.ENSP00000473203,MQANDAGRFQAEFAEIRASKELSSGNMHCEYPYHQVCLCILFSEPK...,"[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1..."
20454,9606.ENSP00000473233,XGVAAYMKSEDPLFVLEHSLPIDTQYYLEQQLAKPLLRIFEPILGE...,"[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,..."
20455,9606.ENSP00000473243,MRNMIPQDNENPPQQGEANQNDSVAFEDVAVNFTPDEWALLDPSQK...,"[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ..."

In [123]:
allseqs['seq_list'].apply(lambda x: len(x)).max()

33423

In [134]:
allseqs['seq_data'] = allseqs['seq_list'].apply(lambda x: list(x) + [0] * (33423 - len(x)))
allseqs

,id,seq,seq_list,seq_data
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5...","[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1...","[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ...","[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1...","[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,...","[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...,...
20451,9606.ENSP00000473193,MTSRGFQRSCNNPPCSSMTGRRANQIHHLTPDFSRELLPPKKAGTW...,"[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ...","[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ..."
20452,9606.ENSP00000473200,XNDLKAALDKIDQQYLNEIVGGQEPGEEDTQNDLKVHEENTTIEEL...,"[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1...","[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1..."
20453,9606.ENSP00000473203,MQANDAGRFQAEFAEIRASKELSSGNMHCEYPYHQVCLCILFSEPK...,"[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1...","[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1..."
20454,9606.ENSP00000473233,XGVAAYMKSEDPLFVLEHSLPIDTQYYLEQQLAKPLLRIFEPILGE...,"[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,...","[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,..."
20455,9606.ENSP00000473243,MRNMIPQDNENPPQQGEANQNDSVAFEDVAVNFTPDEWALLDPSQK...,"[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ...","[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ..."

In [152]:
shs148_seqs = allseqs[allseqs.id.isin(proteins_index.keys())].reset_index(drop=True)
shs148_seqs

,id,seq,seq_list,seq_data
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5...","[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1...","[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ...","[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1...","[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,...","[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...,...
5184,9606.ENSP00000319104,MSDFVESEAEESEEEYNDEGEVVPRVTKKFVEEEDDDEEEEEENLD...,"[11, 16, 3, 5, 19, 4, 16, 4, 1, 4, 4, 16, 4, 4...","[11, 16, 3, 5, 19, 4, 16, 4, 1, 4, 4, 16, 4, 4..."
5185,9606.ENSP00000319118,MSRSFYVDSLIIKDTSRPAPSLPEPHPGPDFFIPLGMPPPLVMSVS...,"[11, 16, 15, 16, 5, 22, 19, 3, 16, 10, 8, 8, 9...","[11, 16, 15, 16, 5, 22, 19, 3, 16, 10, 8, 8, 9..."
5186,9606.ENSP00000319166,MKLGKVEFCHFLQLIALFLCFSGMSQAELSRSRSKPYFQSGRSRTK...,"[11, 9, 10, 6, 9, 19, 4, 5, 2, 7, 5, 10, 14, 1...","[11, 9, 10, 6, 9, 19, 4, 5, 2, 7, 5, 10, 14, 1..."
5187,9606.ENSP00000319169,MAAMAVGGAGGSRVSSGRDLNCVPEIADTLGAVAKQGFDFLCMPVF...,"[11, 1, 1, 11, 1, 19, 6, 6, 1, 6, 6, 16, 15, 1...","[11, 1, 1, 11, 1, 19, 6, 6, 1, 6, 6, 16, 15, 1..."
5188,9606.ENSP00000319192,MIPLEKPGSGGSSPGATSGSGRAGRGLSGPCRPPPPPQARGLLTEI...,"[11, 8, 13, 10, 4, 9, 13, 6, 16, 6, 6, 16, 16,...","[11, 8, 13, 10, 4, 9, 13, 6, 16, 6, 6, 16, 16,..."

In [154]:
shs148_data = np.array(list(shs148_seqs['seq_data']))

In [158]:
np.save("./data/ppi/features_SHS148all.npy", shs148_data)

In [162]:
shs148_data.shape

(5189, 33423)

In [161]:
np.load("./data/ppi/features_SHS148all.npy")

array([[11,  6, 10, ...,  0,  0,  0],
       [11,  5, 13, ...,  0,  0,  0],
       [11, 16, 16, ...,  0,  0,  0],
       ...,
       [11,  9, 10, ...,  0,  0,  0],
       [11,  1,  1, ...,  0,  0,  0],
       [11,  8, 13, ...,  0,  0,  0]])

In [108]:
pd.DataFrame.from_dict(dict(zip(allseqs.index, allseqs.seq_list.values)))

ValueError: All arrays must be of the same length