In [2]:
!wget http://yellowstone.cs.ucla.edu/~muhao/pipr/SHS_ppi_beta.zip

--2023-05-13 11:46:45--  http://yellowstone.cs.ucla.edu/~muhao/pipr/SHS_ppi_beta.zip
Resolving yellowstone.cs.ucla.edu (yellowstone.cs.ucla.edu)... 131.179.64.145
Connecting to yellowstone.cs.ucla.edu (yellowstone.cs.ucla.edu)|131.179.64.145|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41211458 (39M) [application/zip]
Saving to: ‘SHS_ppi_beta.zip’

SHS_ppi_beta.zip    100%[===================>]  39.30M  3.37MB/s    in 12s

2023-05-13 11:46:58 (3.28 MB/s) - ‘SHS_ppi_beta.zip’ saved [41211458/41211458]

In [3]:
!unzip SHS_ppi_beta.zip

Archive:  SHS_ppi_beta.zip
   creating: dataset_release/
  inflating: dataset_release/protein.actions.SHS148k.tsv
  inflating: dataset_release/protein.actions.SHS27k.tsv
  inflating: dataset_release/protein.sequences.dictionary.both.tsv

In [6]:
%pip install pandas

Requirement already satisfied: pandas in /root/miniconda3/envs/GNN-PPI/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in /root/miniconda3/envs/GNN-PPI/lib/python3.10/site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /root/miniconda3/envs/GNN-PPI/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/envs/GNN-PPI/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /root/miniconda3/envs/GNN-PPI/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

shs148k_path = 'dataset_release/protein.actions.SHS148k.tsv'

In [2]:
shs148k = pd.read_csv(shs148k_path, sep='\t').reset_index()

shs148k.head()

,level_0,level_1,item_id_a,item_id_b,mode,action,is_directional,a_is_acting,score
0,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,ptmod,NaN,f,f,150
1,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,reaction,NaN,f,f,908
2,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,catalysis,NaN,t,t,908
3,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,inhibition,inhibition,t,t,154
4,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,binding,NaN,f,t,908

In [3]:
proteins = set(shs148k['item_id_a']) | set(shs148k['item_id_b'])

In [4]:
proteins_index = {key: i for i, key in enumerate(proteins)}

In [5]:
shs148k['node_a'] = shs148k['item_id_a'].apply(lambda x: proteins_index[x])
shs148k['node_b'] = shs148k['item_id_b'].apply(lambda x: proteins_index[x])

In [20]:
shs148k = shs148k[shs148k['mode'] == 'binding']

In [6]:
shs148k.head()

,level_0,level_1,item_id_a,item_id_b,mode,action,is_directional,a_is_acting,score,node_a,node_b
0,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,ptmod,NaN,f,f,150,652,1410
1,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,reaction,NaN,f,f,908,652,1707
2,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,catalysis,NaN,t,t,908,652,1707
3,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAAAAAQGGGGGEPRRTEGVGPGVPGEVEMVKGQPFDVGPRYTQLQ...,9606.ENSP00000000233,9606.ENSP00000263025,inhibition,inhibition,t,t,154,652,1410
4,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MAQAAKQLKKIKDIEAQALQEQKEKEESNRKRRNRSRDRKKKADAA...,9606.ENSP00000000233,9606.ENSP00000265709,binding,NaN,f,t,908,652,1707

In [2]:
import numpy as np

In [8]:
edges = np.array(shs148k[['node_a', 'node_b']])
np.random.shuffle(edges)
edges

array([[2393, 1083],
       [1617, 2927],
       [3366,  300],
       ...,
       [1447, 2613],
       [2741,  312],
       [3813, 3179]])

In [9]:
np.savetxt("./data/ppi/SHS148all_all.txt", edges, newline="\n", fmt="%d")

In [10]:
allseqs_path = 'dataset_release/protein.sequences.dictionary.both.tsv'

allseqs = pd.read_csv(allseqs_path, sep='\t', on_bad_lines='skip', names=["id", "seq"])
allseqs.head()

                     id                                                seq
0  9606.ENSP00000000233  MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...
1  9606.ENSP00000000412  MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...
2  9606.ENSP00000000442  MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...
3  9606.ENSP00000001008  MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...
4  9606.ENSP00000001146  MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...

In [11]:
allseqs['seq_len'] = allseqs['seq'].apply(lambda x: len(x))

In [12]:
allseqs['seq_len'].quantile(0.25)

242.0

In [13]:
allseqs[(allseqs['seq_len'] <= 750) & (allseqs['seq_len'] >= 250)]

,id,seq,seq_len
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,277
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,423
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,459
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,512
5,9606.ENSP00000002125,MSVLLRSGLGPLCAVARAAIPFIWRGKYFSSGNEPAENPVTPMLRH...,441
...,...,...,...
20438,9606.ENSP00000473092,TSCPRPLQEGTPGSRAAHALSRRGHRVHELPTSSPGGDTGFMSCPR...,308
20444,9606.ENSP00000473153,MTEKFLFLYLSLLPMPLLSQAQWNENSLVSFSKIIASGNHLSNCWI...,477
20449,9606.ENSP00000473172,MATVTATTKVPEIRDVTRIERIGAHSHIRGLGLDDALEPRQASQGM...,463
20451,9606.ENSP00000473193,MTSRGFQRSCNNPPCSSMTGRRANQIHHLTPDFSRELLPPKKAGTW...,336
20454,9606.ENSP00000473233,XGVAAYMKSEDPLFVLEHSLPIDTQYYLEQQLAKPLLRIFEPILGE...,397

In [14]:
id_seq_dict = pd.Series(allseqs.seq.values, index=allseqs.id).to_dict()

In [15]:
amino = ['A',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(amino)
le.classes_

array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
       'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y'], dtype='<U1')

In [17]:
allseqs['seq_list'] = allseqs['seq'].apply(lambda x: le.transform(list(x)) + 1)
allseqs

,id,seq,seq_len,seq_list
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,180,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,277,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,423,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,459,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,512,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...,...
20451,9606.ENSP00000473193,MTSRGFQRSCNNPPCSSMTGRRANQIHHLTPDFSRELLPPKKAGTW...,336,"[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ..."
20452,9606.ENSP00000473200,XNDLKAALDKIDQQYLNEIVGGQEPGEEDTQNDLKVHEENTTIEEL...,203,"[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1..."
20453,9606.ENSP00000473203,MQANDAGRFQAEFAEIRASKELSSGNMHCEYPYHQVCLCILFSEPK...,125,"[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1..."
20454,9606.ENSP00000473233,XGVAAYMKSEDPLFVLEHSLPIDTQYYLEQQLAKPLLRIFEPILGE...,397,"[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,..."
20455,9606.ENSP00000473243,MRNMIPQDNENPPQQGEANQNDSVAFEDVAVNFTPDEWALLDPSQK...,82,"[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ..."

In [20]:
allseqs['seq_list'].apply(lambda x: len(x)).max()

33423

In [19]:
allseqs['seq_data'] = allseqs['seq_list'].apply(lambda x: list(x)[:100] if len(x) > 100 else list(x) + [0] * (100 - len(x)))
allseqs

,id,seq,seq_len,seq_list,seq_data
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,180,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5...","[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,277,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1...","[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,423,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ...","[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,459,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1...","[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,512,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,...","[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...,...,...
20451,9606.ENSP00000473193,MTSRGFQRSCNNPPCSSMTGRRANQIHHLTPDFSRELLPPKKAGTW...,336,"[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ...","[11, 17, 16, 15, 6, 5, 14, 15, 16, 2, 12, 12, ..."
20452,9606.ENSP00000473200,XNDLKAALDKIDQQYLNEIVGGQEPGEEDTQNDLKVHEENTTIEEL...,203,"[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1...","[21, 12, 3, 10, 9, 1, 1, 10, 3, 9, 8, 3, 14, 1..."
20453,9606.ENSP00000473203,MQANDAGRFQAEFAEIRASKELSSGNMHCEYPYHQVCLCILFSEPK...,125,"[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1...","[11, 14, 1, 12, 3, 1, 6, 15, 5, 14, 1, 4, 5, 1..."
20454,9606.ENSP00000473233,XGVAAYMKSEDPLFVLEHSLPIDTQYYLEQQLAKPLLRIFEPILGE...,397,"[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,...","[21, 6, 19, 1, 1, 22, 11, 9, 16, 4, 3, 13, 10,..."
20455,9606.ENSP00000473243,MRNMIPQDNENPPQQGEANQNDSVAFEDVAVNFTPDEWALLDPSQK...,82,"[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ...","[11, 15, 12, 11, 8, 13, 14, 3, 12, 4, 12, 13, ..."

In [21]:
shs148_seqs = allseqs[allseqs.id.isin(proteins_index.keys())].reset_index(drop=True)
shs148_seqs

,id,seq,seq_len,seq_list,seq_data
0,9606.ENSP00000000233,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,180,"[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5...","[11, 6, 10, 17, 19, 16, 1, 10, 5, 16, 15, 8, 5..."
1,9606.ENSP00000000412,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,277,"[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1...","[11, 5, 13, 5, 22, 16, 2, 20, 15, 17, 6, 10, 1..."
2,9606.ENSP00000000442,MSSQVVGIEPLYIKAEPASPDSPKGSSETETEPPVALAPGPAPTRC...,423,"[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ...","[11, 16, 16, 14, 19, 19, 6, 8, 4, 13, 10, 22, ..."
3,9606.ENSP00000001008,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,459,"[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1...","[11, 17, 1, 4, 4, 11, 9, 1, 17, 4, 16, 6, 1, 1..."
4,9606.ENSP00000001146,MLFEGLDLVSALATLAACLVSVTLLLAVSQQLWQLRWAATRDKSCK...,512,"[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,...","[11, 10, 5, 4, 6, 10, 3, 10, 19, 16, 1, 10, 1,..."
...,...,...,...,...,...
5184,9606.ENSP00000319104,MSDFVESEAEESEEEYNDEGEVVPRVTKKFVEEEDDDEEEEEENLD...,1726,"[11, 16, 3, 5, 19, 4, 16, 4, 1, 4, 4, 16, 4, 4...","[11, 16, 3, 5, 19, 4, 16, 4, 1, 4, 4, 16, 4, 4..."
5185,9606.ENSP00000319118,MSRSFYVDSLIIKDTSRPAPSLPEPHPGPDFFIPLGMPPPLVMSVS...,304,"[11, 16, 15, 16, 5, 22, 19, 3, 16, 10, 8, 8, 9...","[11, 16, 15, 16, 5, 22, 19, 3, 16, 10, 8, 8, 9..."
5186,9606.ENSP00000319166,MKLGKVEFCHFLQLIALFLCFSGMSQAELSRSRSKPYFQSGRSRTK...,785,"[11, 9, 10, 6, 9, 19, 4, 5, 2, 7, 5, 10, 14, 1...","[11, 9, 10, 6, 9, 19, 4, 5, 2, 7, 5, 10, 14, 1..."
5187,9606.ENSP00000319169,MAAMAVGGAGGSRVSSGRDLNCVPEIADTLGAVAKQGFDFLCMPVF...,637,"[11, 1, 1, 11, 1, 19, 6, 6, 1, 6, 6, 16, 15, 1...","[11, 1, 1, 11, 1, 19, 6, 6, 1, 6, 6, 16, 15, 1..."
5188,9606.ENSP00000319192,MIPLEKPGSGGSSPGATSGSGRAGRGLSGPCRPPPPPQARGLLTEI...,414,"[11, 8, 13, 10, 4, 9, 13, 6, 16, 6, 6, 16, 16,...","[11, 8, 13, 10, 4, 9, 13, 6, 16, 6, 6, 16, 16,..."

In [26]:
shs148_seqs['index'] = shs148_seqs['id'].apply(lambda x: proteins_index[x])
shs148_seqs = shs148_seqs.sort_values(by=['index'])

In [27]:
shs148_data = np.array(list(shs148_seqs['seq_data']))

In [28]:
np.save("./data/ppi/features_SHS148all.npy", shs148_data)

In [30]:
shs148_data.shape

(5189, 100)

In [3]:
features_SHS148all = np.load("./data/ppi/features_SHS148all.npy")

In [4]:
features_SHS148all

array([[11, 10,  6, ..., 22, 16, 16],
       [11, 16, 17, ...,  2,  6,  9],
       [11, 16,  9, ...,  4,  9,  6],
       ...,
       [11, 15,  6, ..., 10, 13,  6],
       [11,  9,  9, ...,  6,  6, 16],
       [11,  9,  6, ..., 16, 15,  4]])

In [5]:
np.save("./data/ppi/features_SHS148all.npy", features_SHS148all.astype("float"))